
.clearfix {
clear: both;
}
body {
direction: rtl;
margin-top: 50px;

}
.container {
width: 70%;
margin:auto;
}
.container-fluid {
    height: 20px;
}
header{
    background-color:#fffffff2;
width:100%;
height:41px;
box-shadow:0px 0px 8px 2px #333; 
position:fixed; 
z-index:9999;	
top:0px; 
left:0px;
display: block;
}
h2 {
    margin-top: -3px;
}
.fa-home {
    float: left;
    position: relative;
    top: -15px;
    margin-left: 34px;
    font-size: 30px;
}
/* footer */
footer {
background-color: #333;
color: #ddd;
padding: 10px;
text-align: center;
    position: relative;
 
}
/* end fotter */

.typeahead, .tt-query, .tt-hint {

font-size: 24px;
height: auto;
line-height: 30px;
outline: medium none;
padding: 1px 12px;


}
.typeahead {
width: 318px;
background-color: #FFFFFF;
text-align: right;
box-sizing: border-box;
}
.typeahead:focus {
border: 2px solid #0097CF;
}
.tt-query {
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
color: #999999;
    width: 100%;
}
.tt-dropdown-menu {
background-color: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);

box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
margin-top: 12px;
padding: 1px 0;
width: 318px;
    overflow: hidden;
}
.tt-suggestion {
font-size: 24px;
line-height: 24px;
padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
background-color: #9D9E9E;
color: #FFFFFF;
}
.tt-suggestion p {
margin: 0;
text-align: right;
}
button {
    top: 14px;
}
::placeholder {
    color: red;
    opacity: 1;
font-weight: bold;
}
.btn {
    position: inherit;
}

.modal-dialog{
    top: 40px;
    direction: ltr;    
}
.modal {
    direction: initial;
    font-weight: bold;
}
.btn-edit {
        width: 100%;
    margin-bottom: 2px;
}
.btn-edit:hover {
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-warning{
    height: 100%;
    width: 10%;
}
.navbar {
        min-height: 41px;
}

.nav_search{
    position: absolute;
    left: 35%;
    box-sizing: border-box;
}
.dropdown-menu {
left: unset;
    top: 50px;
    text-align: right;
    
}
.search {
    /* right: 350px; */
    box-sizing: border-box;
    top: 7px;
    background-color: whitesmoke;
    left: -44px;
    height: 33px;
    position: absolute;
}
.dropdown-menu > li {
   
}
.dropdown-menu > li > a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
        margin-right: 5px;
     color: black;
}
.fa-sign-out-alt, .fa-key {
    margin-right: 10px;
    color: #FF9900;
}
.fa-search:before {
    
    color: blue;}
.dropdown {
    position: absolute;
    top: -7px;
}
.twitter-typeahead{
border: none;
    top: 7px;
}
.input-group-text{
        width: 130px;
}
.details-text {
        padding-right: 20px;
    width: 40%;
}


