.typeahead,
.tt-query,
.tt-hint {
  text-align: right;
  font-size: 24px;
  height: auto;
  line-height: 30px;
  outline: medium none;
  padding: 3px 12px;
}
.typeahead {
  height: 100%;
}
.typeahead:focus {
  border: 0.5px solid #0097cf;
}
.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
  color: #999999;
  width: 100%;
}
.tt-dropdown-menu {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  padding: 1px 0;
  width: 275px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 100;
  display: block;
  right: auto;
  width: 100%;
}
.tt-suggestion {
  font-size: 24px;
  line-height: 24px;
  padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
  background-color: #9d9e9e;
  color: #ffffff;
}
.tt-suggestion p {
  margin: 0;
  text-align: right;
}
